form {
  background: #34495E;
  padding-left:25px;
  padding-right:25px;
  padding-top:60px;
  margin: 12px auto;
  border: 2px solid black;
  border-radius: .4em;
  position:relative;
  z-index:1;
}

form > div{
  position:absolute;
  top:0;
  left:50%;
  padding:0 20px;
  transform:translate(-50%,-50%);
  background-color:black;
  border-radius: 20px;
  text-align:center;
}

form > div > img{
  filter:invert(1);
  width:100px;
}

form > input,
form > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid #ccc;
  color: #ddd;
  background-color: #222;
  border-radius: 4px;
  display: block;
  width: 70vw;
}

form > textarea{
  height:100px;
  resize:none;
}

form > input[type="submit"] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}

form > input[type="submit"]:hover {
  background-color: #555;
}

.confirmation-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
}
.modal {
  position: relative;
  background: white;
  color: black;
  border-radius: 0.8em;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  padding: 0.4em;
}
.close-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.4em;
  font-size: 1em;
  background: hsl(200, 80%, 50%);
  border-radius: 0.6em;
  border: none;
  padding: 0.6em;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
.close-modal:hover {
  background: hsl(200, 80%, 60%);
}
.message-content {
  overflow-wrap: break-word;
  height: 20vh;
  overflow: scroll;
}
