<form [formGroup]="form" (ngSubmit)="toggleModal()">
  <div>
    <img src="https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png" alt="icon">
  </div>
  <input type="text" placeholder="Name (required)" formControlName="name" required>
  <input type="email" placeholder="Return address (required)" formControlName="email" required>
  <textarea placeholder="Subject (required)" formControlName="content" required></textarea>
  <input type="submit" value="Send">
</form>

<div class="confirmation-modal" *ngIf="showModal == true">
  <div class="modal">
    <span class="success-message">Message successfully sent, overview of your message :</span>
    <p>Sender : {{ form.controls["name"].value }}</p>
    <p>Return email : {{ form.controls["email"].value }}</p>
    <p class="message-content">Subject of your message : {{ form.controls["content"].value }}</p>
    <button class="close-modal" (click)="toggleModal()">Close</button>
  </div>
</div>
