<nav class="stroke">
  <ul>
    <li><a target="_self" routerLink="/products">Products</a></li>
    <li><a target="_self" routerLink="/users">Users</a></li>
    <li><a target="_self" routerLink="/orders">Orders</a></li>
    <li><a target="_self" routerLink="/contact">Contact</a></li>
  </ul>
</nav>
