<div class="card">
  <h2>Order n°{{ order.id }} details</h2>

  <p>Order from {{ user.username }}</p>
  <p>Product : {{ product.name }}</p>
  <p>Product quantity : {{ order.quantity }}</p>
  <p>Date of order : {{ order.order_date | date:'dd/MM/yyyy HH:mm' }}</p>
</div>
