<table class="rwd-table">
  <tr>
    <th>id</th>
    <th>User</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Order date</th>
  </tr>
  <tr class="anchor-row" (click)="redirect(order.id)" *ngFor="let order of orders">
    <td>{{ order.id }}</td>
    <td>{{ order.user_id }}</td>
    <td>{{ order.product_id }}</td>
    <td>{{ order.quantity }}</td>
    <td>{{ order.order_date | date:'dd/MM/yyyy HH:mm' }}</td>
  </tr>
</table>
