<div class="card">
  <h2>{{ user.username }} details</h2>

  <p>Id : {{ user.id }}</p>
  <p>Firstname : {{ user.firstname }}</p>
  <p>Lastname : {{ user.lastname }}</p>
  <p>Email : {{ user.email }}</p>
</div>
