<table class="rwd-table">
  <tr>
    <th>id</th>
    <th>Product name</th>
    <th>Category</th>
    <th>Price (€)</th>
  </tr>
  <tr class="anchor-row" (click)="redirect(product.id)" *ngFor="let product of products">
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.category }}</td>
    <td>{{ product.price }}</td>
  </tr>
</table>
