*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Table Style */
.rwd-table {
  min-width: 900px;
  margin: 1em auto;
  border: 2px solid black;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 9.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: white;
  background: #eee;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  color: #dd5;
}
.anchor-row:hover{
   background-color: hsl(212, 29%, 35%);
 }
/* End Table Style */

.card {
  background: #34495E;
  box-shadow: 0 2px 5px 0 #000;
  max-width: 70%;
  min-width: 500px;
  border: 2px solid black;
  border-radius: .4em;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

h2 {
  margin: 0 ;
  color: #dddd55;
}
